body, html{
      height: 100%;
}
section{
      width: 100%;
}
.form-control {
    border-radius: .0rem;
    box-shadow: none;
}
.login-wrapper{
      padding: 15px 15px 25px 15px;
      background-color: #fefefe;
      color: #000;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.logo-login{
      width: 60%;
      margin-bottom: 15px;
}
.background{
      background-image: url('../images/login-bg.png');
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-attachment: scroll;
}
.login-wrapper a{
      display: block;
}
.login-wrapper label{
      color: #353535;
      text-transform: none;
      font-size: 15px;
      font-weight: normal;
}
.login-wrapper a:hover{
      display: block;
      text-decoration: none;
      cursor: pointer;
}
.btn-login{
      padding: 10px 15px;
      text-align: center;
      text-transform: uppercase;
      width: 40%;
      background-color: #007ce5; 
      color: #fff;
      margin-bottom: 15px;
      margin-top: 0;
}
.btn-register{
      padding: 10px 15px;
      text-align: center;
      text-transform: uppercase;
      width: 40%;
      background-color: #007ce5; 
      color: #fff;
      margin-bottom: 15px;
      margin-top: 0;
}
.btn-backToWeb{
      padding: 10px 15px;
      text-align: center;
      text-transform: uppercase;
      background-color: #007ce5; 
      color: #fff;
      margin-top: 15px;
}
.valign-center{
      display: flex;
      align-items: center;
}
.height-100p{
     height: 100%;
}
.f-right{
     float: right;
}
.f-left{
     float: left;
}
.footer-logo{
     width: 20px;
}
.invalid-feedback{
  color: #f04a4a;
}
@media only screen and (max-width: 768px) {
  .background{
          background-image:none;
    }  
}
/*start footer*/
footer{
      border-top: 1px solid #fff;
      height: 45px;
      background-color: #f4f6f8;
}
footer p{
    margin-bottom: 0;
    color: #04203c;
}
/*end footer*/